#version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - monitoring_network

  fio-monitor:
    image: fio-monitor:1.0.1
    container_name: fio-monitor
    volumes:
      - ./fiomonitor/config/fio_configs.json:/app/fio_configs.json
      - fio-monitor_data:/fio
    env_file:
      - ./.env
    ports:
      - "9290:9290"
    networks:
      - monitoring_network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    volumes:
      - ./grafana/data:/var/lib/grafana
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - '3000:3000'
    depends_on:
      - prometheus
      - loki
    restart: unless-stopped
    networks:
      - monitoring_network

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki/config:/etc/loki
      - loki_data:/loki
    command:
      - '-config.file=/etc/loki/loki-local-config.yaml'
    networks:
      - monitoring_network

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro # Mount Docker container logs
      - ./promtail/config:/etc/promtail
    command:
      - '-config.file=/etc/promtail/promtail-config.yaml'
    depends_on:
      - loki
    networks:
      - monitoring_network

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest # Use a specific version in production
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otelcollector/config/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
    depends_on:
      - jaeger
    networks:
      - monitoring_network

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686" # Jaeger UI
      - "14250:14250" # Jaeger gRPC collector
    networks:
      - monitoring_network

volumes:
  grafana_data:
  prometheus_data:
  loki_data:
  fio-monitor_data:

networks:
  monitoring_network:
    driver: bridge
